@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    width: 1440px;
    height: 6575px;
}

.top-left-img {
    position: absolute;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
}

.globe {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 121px;
    top: 184px;
}
.globe-text {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 151px;
    top: 187px;    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.clock {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 306px;
    top: 183px;
}
.clock-text {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 338px;
    top: 187px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.calendar {
    position: absolute;
    width: 20px;
    height: 22px;
    left: 467px;
    top: 183px;
}
.calendar-text {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 500px;
    top: 187px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.head-text-1 {
    position: absolute;
    width: 628px;
    height: 190px;
    left: 122px;
    top: 248px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 81px;
    color: #000000;
}

.head-under-text-1 {
    position: absolute;
    width: 414px;
    height: 62px;
    left: 122px;
    top: 427px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.human {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 890px;
    top: 223px;
}

.blue-block {
    position: absolute;
    width: 483.63px;
    height: 200px;
    left: 409.39px;
    top: 666.62px;
    background: #1E4681;
    border-radius: 5px;
}

.head-text-2 {
    position: absolute;
    width: 365px;
    height: 93px;
    left: 121px;
    top: 1040px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.head-under-text-2 {
    position: absolute;
    width: 662px;
    height: 374px;
    left: 121px;
    top: 1151px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.camera-man {
    position: absolute;
    width: 314px;
    height: 315px;
    left: 973px;
    top: 1175px;
}

.car-camera-man {
    position: absolute;
    width: 232px;
    height: 203px;
    left: 121px;
    top: 1619px;
}

.p2-mini-title-1 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1689px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}
.p2-mini-text-1 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1729px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.p2-mini-title-2 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1689px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}
.p2-mini-text-2 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1729px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.p2-mini-title-3 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1689px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}
.p2-mini-text-3 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1729px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.head-text-3-1 {
    position: absolute;
    width: 667px;
    height: 93px;
    left: 121px;
    top: 2000px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.p3-mini-title-1 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 122px;
    top: 2182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1E4681;
}
.p3-mini-text-1 {
    position: absolute;
    width: 223px;
    height: 39px;
    left: 122px;
    top: 2222px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.p3-mini-title-2 {
    position: absolute;
    width: 214px;
    height: 39px;
    left: 467px;
    top: 2182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1E4681;
}
.p3-mini-text-2 {
    position: absolute;
    width: 271px;
    height: 109px;
    left: 467px;
    top: 2222px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.p3-mini-title-3 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 851px;
    top: 2182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1E4681;
}
.p3-mini-text-3 {
    position: absolute;
    width: 245px;
    height: 39px;
    left: 851px;
    top: 2222px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.head-text-3-2 {
    position: absolute;
    width: 667px;
    height: 93px;
    left: 121px;
    top: 2510px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.p3-ul {
    position: absolute;
    width: 662px;
    height: 374px;
    left: 138px;
    top: 2624px;
}
.p3-li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.head-text-4 {
    position: absolute;
    width: 905px;
    height: 93px;
    left: 121px;
    top: 3246px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}

.p-4-box-1 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 84px;
    top: 3434px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.statue {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-1 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.p4-mini-text-1 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 15px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-2 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 520px;
    top: 3434px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.paper {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-2 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.p4-mini-text-2 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-3 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 956px;
    top: 3434px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.film-card {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-3 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.p4-mini-text-3 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-4 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 84px;
    top: 3803px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.film {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-4 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #000000;
}

.p4-mini-text-4 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-5 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 520px;
    top: 3803px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.mask {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-5 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.p4-mini-text-5 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-6 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 956px;
    top: 3803px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.meeting {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-6 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #000000;
}

.p4-mini-text-6 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-7 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 84px;
    top: 4176px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.award {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-7 {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 20px;
    top: 171px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.p4-mini-text-7 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}

.p-4-box-8 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 520px;
    top: 4176px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.glasses {
    position: absolute;
    width: 399px;
    height: 160px;
}

.p4-mini-title-8 {
    position: absolute;
    width: 365px;
    height: 71px;
    left: 20px;
    top: 176px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #000000;
}

.p4-mini-text-8 {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 19px;
    top: 242px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
}    

.part-5 {
    position: absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 4625px;
    background: #EFEFEF;
}
    
.head-text-5 {
    position: absolute;
    width: 987px;
    height: 93px;
    left: 122px;
    top: 91px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}
    
.p5-card {
    position: absolute;
    width: 791px;
    height: 451px;
    left: 126px;
    top: 218px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
    
.p5-mini-text {
    position: absolute;
    width: 700px;
    height: 203px;
    left: 45px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
    
.profile-img {
    position: absolute;
    width: 190px;
    height: 169px;
    left: 26px;
    top: 253px;
}
    
.p5-mini-title {
    position: absolute;
    width: 353px;
    height: 59px;
    left: 246px;
    top: 293px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}
    
.facebook {
    position: absolute;
    width: 32px;
    height: 31px;
    left: 246px;
    top: 352px;
}

.part-6 {
    position: absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 5405px;
    background: #9DC9C8;
}

.head-text-6 {
    position: absolute;
    width: 908px;
    height: 66px;
    left: 122px;
    top: 179px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.part-6-p-1 {
    position: absolute;
    width: 170px;
    height: 32px;
    left: 122px;
    top: 299px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}

.p6-mini-title {
    position: absolute;
    width: 481px;
    height: 181px;
    left: 122px;
    top: 329px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 81px;
    color: #000000;
}

.part-6-p-2 {
    position: absolute;
    width: 294px;
    height: 32px;
    left: 122px;
    top: 484px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}

.p6-mini-text-1 {
    position: absolute;
    width: 294px;
    height: 70px;
    left: 122px;
    top: 525px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.part-6-p-3 {
    position: absolute;
    width: 322px;
    height: 32px;
    left: 486px;
    top: 484px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}

.p6-mini-text-2 {
    position: absolute;
    width: 294px;
    height: 70px;
    left: 486px;
    top: 525px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.part-7 {
    position: absolute;
    width: 1440px;
    height: 390px;
    left: -1px;
    top: 6185px;
    background: #000000;
}

.part-7-text-img {
    position: absolute;
    width: 115px;
    height: 68px;
    left: 122px;
    top: 50px;
}

.part-7-instagram {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 122px;
    top: 148px;
}

.part-7-facebook {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 173px;
    top: 148px;
}

.part-7-wk-logo {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 226px;
    top: 146px;
}

.part-7-whatsapp {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 286px;
    top: 147px;
}

.part-7-phone {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 976px;
    top: 54px;
}

.part-7-phone-text {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 1025px;
    top: 59px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
}

.part-7-email {
    position: absolute;
    width: 27px;
    height: 18px;
    left: 976px;
    top: 106px;
}

.part-7-email-text {
    position: absolute;
    width: 269px;
    height: 40px;
    left: 1025px;
    top: 102px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
}

.part-7-end-text {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 122px;
    top: 270px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118px;
    color: #FFFFFF;
}