@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

main {
    position: relative;
    width: 1440px;
    height: 6575px;
}

.top-left-img {
    position: absolute;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
}

.globe {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 121px;
    top: 184px;
}
.globe-text {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 151px;
    top: 187px;    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.clock {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 306px;
    top: 183px;
}
.clock-text {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 338px;
    top: 187px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.calendar {
    position: absolute;
    width: 20px;
    height: 22px;
    left: 467px;
    top: 183px;
}
.calendar-text {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 500px;
    top: 187px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.head-text {
    position: absolute;
    width: 628px;
    height: 190px;
    left: 122px;
    top: 248px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 81px;
    color: #000000;
}

.head-under-text {
    position: absolute;
    width: 414px;
    height: 62px;
    left: 122px;
    top: 427px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.human {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 890px;
    top: 223px;
}

.blue-block {
    position: absolute;
    width: 483.63px;
    height: 200px;
    left: 409.39px;
    top: 666.62px;
    background: #1E4681;
    border-radius: 5px;
}